* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    /* overflow-x: auto; */
}

body {
    background: #1E2D3B;
    max-width: 100vw;
    max-height: 100vh;
}

#app {
  margin: 20px;
}

.main-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

header {
  justify-content: space-between;
  margin: 0 55px;
}

header, .section-title {
    width: calc(100% - 55px);
    height: 70px;
    display: flex;
    align-items: center;
}

.section-title {
  justify-content: flex-start;
  color: #FFFFFF;
  margin: 0 60px;

}

.select>.fa-search {
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1.7em;
  padding-right: 10px;
  position: absolute;
}

.select {
  background: #1E2D3B;
  padding: .5rem 1rem;
  position: relative;
  top: 0;
  left: 0;
  width: 0;
  outline: none;
  border-radius: 6px;
  transition: all .5s;
  margin: 0 60px;
}

#search-input {
  outline-width: 0;
  font-size: 1.4em;
  border: none;
  background: none;
  width: 90%;
  margin-left: 1.7em;
  color: #fff;
}

.active {
  transition: all 0.5s;
  width: 21%;
  top: 0;
  right: 100%;
  opacity: 1;
  border: 1px solid #fff;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px 5px;
  flex-basis: 342px;
  height: 513px;
  background: #111;
  color: inherit;
  text-align: center;
}


.poster-container {
  overflow: hidden;
  transition: all 500ms;
  position: absolute;
}

.content-container {
  width: 100%;
  height: 100%;
}

.placeholder-container {
  height: 513px;
  width: 342px;
  background: #111;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.placeholder-container>ul>li {
  color: #fff;
  font-size: 2em;
  padding-bottom: 5px;
}
.placeholder-container>ul>li:last-of-type {
  font-size: 1.3em;  
}

.placeholder {
  vertical-align: middle;
}

.content-container {
  position: relative;
  z-index: 1;
}

.info {
  color: #FFFFFF;
  text-align: left;
  position: absolute;
  transition: all 500ms;
  height: 100%;
  width: 100%;
  padding: 15px;
  transition: all 500ms;
}

.flag {
  height: 15px;
}

.hidden:hover {
  transition: all 500ms;
  opacity: .2;
}

.info>ul {
  list-style-type: none;

}
.info>ul>li {
  padding-bottom: 5px;
}

.info>ul>li>span {
  font-weight: bold;
}

.fas, .far {
  color: #F9BB08;
}
