<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>

    <title>Boolflix</title>
  </head>
  <body>
    <div id="app">

      <header>
        <div class="container">
        </div>
        <div class="select">
          <input placeholder="Search a movie" type="text" v-model="selected" @keyup.enter="searchMovie()">
          <button type="button" name="button" @click="searchMovie()">Search</button>
        </div>
      </header>

      <div class="movies-container main-container">

        <div class="movie" v-for="item in movieArray" >
            <h3>{{item.title}}</h3>
            <span class="original-title">{{item.original_title}}</span>
            <span class="original-language">Original language: {{item.original_language}}</span>
            <span class="vote-average">Vote: {{item.vote_average}}/10</span>
        </div>
      </div>

    </div>


    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
