<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
  <link rel="stylesheet" href="css/style.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>

  <title>Boolflix</title>
</head>

<body>
  <div id="app">


    <!-- search bar -->
    <header>
      <div class="logo">
        <img src="img/logo.png" alt="Boolflix logo">
      </div>
      <div class="select"
           :class="{active: isActive}">
        <i class="fas fa-search"
           @click="clicked()">
        </i>
        <input id="search-input"
               placeholder="Search a movie or a TV series"
               type="search"
               v-model="selected"
               @keyup.enter="search()">
      </div>
    </header>
    <!-- end search bar -->

    <!-- movies section -->
    <div class="grid-container main-container">

      <div class="section-title" v-if="movies != '' ">
        <h1>Movies</h1>
      </div>
      <div class="content" v-for="item in movies">
        <!-- cards container -->
        <div class="content-container">

          <!-- info and overview -->
          <div class="info">
            <ul>
              <li><span>Title: </span>{{item.title}}
              </li>
              <li><span>Original title: </span>{{item.original_title}}
              </li>
              <li><span>Original language: </span>
                <span v-if="flags.includes(!item.original_language)">
                  {{item.original_language}}
                </span>
                <span v-else>
                  <img class="flag" :src="'img/flags/' + item.original_language + '.png'">
                </span>
              </li>
              <li><span>Vote:
                <i v-for="item in voteAverage(item.vote_average)" class="fas fa-star">
                </i>
                <i v-for="item in (5 - voteAverage(item.vote_average))" class="far fa-star">
                </i>
              </span>
              </li>
              <li><span>Overview: </span> {{item.overview}}
              </li>
            </ul>
          </div>
          <!-- end info and overview -->

          <!-- poster -->
          <div class="poster-container hidden" v-if="item.poster_path != null">
            <img class="poster" :src="posterUrl + item.poster_path" alt="">
          </div>
          <div class="poster-container poster-placeholder hidden" v-else="">
            <div class="placeholder-container">
              <img class="placeholder" src="img/logo.png" alt="Boolflix logo">
              <ul>
                <li>{{item.title}}</li>
                <li><span>Language: </span>
                  <span v-if="flags.includes(!item.original_language)">
                    {{item.original_language}}
                  </span>
                  <span v-else>
                    <img class="flag" :src="'img/flags/' + item.original_language + '.png'">
                  </span>
                </li>
              </ul>
            </div>
          </div>
          <!-- end poster -->

        </div>
        <!-- end cards container -->
      </div>
    </div>
    <!-- end movies section -->

    <!-- tv series section -->
    <div class="grid-container main-container">

      <div class="section-title" v-if="tvSeries != '' ">
        <h1>TV Series</h1>
      </div>

      <div class="content" v-for="item in tvSeries">
        <!-- cards container -->
        <div class="content-container">
          <!-- info and overview -->
          <div class="info">
            <ul>
              <li><span>Title: </span>{{item.name}}
              </li>
              <li><span>Original title: </span>{{item.original_name}}
              </li>
              <li><span>Original language: </span>
                <span v-if="flags.includes(!item.original_language)">
                  {{item.original_language}}
                </span>
                <span v-else>
                  <img class="flag" :src="'img/flags/' + item.original_language + '.png'">
                </span>
              </li>
              <li><span>Vote:
                <i v-for="item in voteAverage(item.vote_average)" class="fas fa-star">
                </i>
                <i v-for="item in (5 - voteAverage(item.vote_average))" class="far fa-star">
                </i>
              </span>
              </li>
              <li><span>Overview: </span> {{item.overview}}
              </li>
            </ul>
          </div>
          <!-- end info and overview -->

          <!-- poster -->
          <div class="poster-container hidden" v-if="item.poster_path != null">
            <img class="poster" :src="posterUrl + item.poster_path" alt="">
          </div>
          <div class="poster-container poster-placeholder hidden" v-else="">
            <div class="placeholder-container">
              <img class="placeholder" src="img/logo.png" alt="Boolflix logo">
              <ul>
                <li>{{item.name}}</li>
                <li><span>Language: </span>
                  <span v-if="flags.includes(!item.original_language)">
                    {{item.original_language}}
                  </span>
                  <span v-else>
                    <img class="flag" :src="'img/flags/' + item.original_language + '.png'">
                  </span>
                </li>
              </ul>
            </div>
          </div>
          <!-- end poster -->
        </div>
        <!-- end cards container -->

      </div>
    </div>
    <!-- end tv series section -->

  </div>


  <script src="js/script.js" charset="utf-8"></script>
</body>

</html>
